@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.booking-page {
  background-color: #fff4f1;
  font-family: "Bebas Neue", sans-serif;
  color: #333;
  padding: 0 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.booking-page .logo {
  width: 76px;
}

.booking-header {
  text-align: center;
  margin-top: 20px;
}

.booking-page h1 {
  color: #ec315a;
  font-size: 60px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 2px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.floating-label-container {
  position: relative;
}

.suffix {
  position: absolute;
  left: 55px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  pointer-events: none;
}

.floating-label-container input {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #6e4ec3;
  border-radius: 8px;
  font-size: 24px;
  background-color: #fff4f1;
  color: #333;
  outline: none;
  box-sizing: border-box;
}

.floating-label-container label {
  position: absolute;
  top: -10px;
  left: 12px;
  color: #6e4ec3;
  background-color: #fff4f1;
  padding: 0 4px;
  pointer-events: none;
  transition: all 0.2s ease;
}

.floating-label-container input:focus + label,
.floating-label-container input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 16px;
  color: #6e4ec3;
  padding: 0 4px;
}

.section-title {
  font-size: 24px;
  font-weight: 400;
  color: #6e4ec3;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
}

.section-title::before,
.section-title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 26%;
  height: 1px;
  background-color: #6e4ec3;
}

.section-title::before {
  left: 0;
}

.section-title::after {
  right: 0;
}

.section-title-shoes {
  font-size: 24px;
  font-weight: 400;
  color: #6e4ec3;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  margin-top: 44px;
}

.section-title-shoes::before,
.section-title-shoes::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 42%;
  height: 1px;
  background-color: #6e4ec3;
}

.section-title-shoes::before {
  left: 0;
}

.section-title-shoes::after {
  right: 0;
}

.date-time-container {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}

.date-time-container .floating-label-container {
  flex: 1;
}

.form-section {
  margin-top: 16px;
}

.shoe-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shoe-section-scroll {
  width: 100%;
  height: 224px;
  overflow-y: auto;
}

.shoe-input {
  display: flex;
  align-items: center;
  margin-top: 16px;
  width: 390px;
}

.shoe-input input {
  flex-grow: 1;
  padding: 8px;
  font-size: 24px;
  border: 2px solid #6e4ec3;
  border-radius: 8px;
  height: 60px;
  width: 270px;
}

.shoe-input button {
  background-color: #ec315a;
  border: none;
  color: white;
  font-size: 40px;
  font-weight: 700;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 36px;
}

.add-shoe-button {
  background-color: #ec315a;
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.submit-button {
  background-color: #ec315a;
  color: white;
  border: none;
  padding: 15px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 3px;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(255, 79, 90, 0.3);
  margin-top: 20px;
  letter-spacing: 2px;
}

.navicon {
  position: absolute;
  top: 22px;
  left: 23px;
  cursor: pointer;
  z-index: 10;
}
